@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --skeleton: hsl(0, 0%, 90%);
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 84 65% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 24 100% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 301 88% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: hsl(220, 20%, 90%);
    --input: hsl(220, 20%, 90%);
    --ring: 84 65% 45%;
    --btn-border: hsl(214deg, 31.8%, 91.4%);
    --chart-1: 84 65% 45%;
    --chart-2: 24 100% 50%;
    --chart-3: 301 88% 42%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: hsl(222, 94%, 5%);
    --foreground: hsl(0, 0%, 100%);
    --skeleton: hsl(218, 36%, 16%);
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 84 65% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 24 100% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 301 88% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: hsl(220, 20%, 90%);
    --input: hsl(219, 63%, 16%);
    --ring: 84 65% 45%;
    --btn-border: hsl(217deg, 32.6%, 17.5%);
    --chart-1: 84 65% 45%;
    --chart-2: 24 100% 50%;
    --chart-3: 301 88% 42%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .theme {
    --animate-ripple: ripple 2s ease calc(var(--i, 0) * 0.2s) infinite;
    --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .g-button {
    @apply rounded-[var(--radius)] border;
    border-color: var(--btn-border);
  }
}

@theme inline {
  @keyframes ripple {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    }
  }
  @keyframes orbit {
  0% {
    transform: rotate(0deg) translateY(calc(var(--radius) * 1px)) rotate(0deg);
    }
  100% {
    transform: rotate(360deg) translateY(calc(var(--radius) * 1px)) rotate(-360deg);
    }
  }
}